@model Team7ADProjectMVC.DisbursementDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DisbursementDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveredQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisbursementList.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisbursementList.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionDetail.ItemNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionDetail.ItemNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DisbursementDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
