@model IEnumerable<Team7ADProjectMVC.AdjustmentDetail>

@{
    ViewBag.Title = "View Detail";
    Layout = "~/_Layout1.cshtml";
    Page.title = "Adjustment Details";
    Employee currentEmployee = (Employee)Session["User"];
    Page.Employee = currentEmployee;
}

<h3>Adjustment Status:@ViewBag.status</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        @Html.DisplayNameFor(model => model.Adjustment.AdjustmentId)

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AdjustmentDetailId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AdjustmentDetailId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdjustmentDetailId })
                </td>*@
        </tr>
    }

</table>

<h3>Total Sum: $ @ViewBag.sum.</h3>
<hr />

@if (currentEmployee.Role.Name == "Store Supervisor"&& @ViewBag.status== "Pending Approval")
{
    if (@ViewBag.sum < 250)
    {
        <div class="row">
            <form class="form" role="form" action="/Adjustments/SupervisorApprove/@ViewBag.Adjid" method="post">
                <div class="col-md-offset-3 col-md-3">
                    <div class="form-actions no-color">
                        <input type="submit" value="Approve" class="btn btn-default" />
                    </div>
                </div>
            </form>
            <form class="form" role="form" action="/Adjustments/SupervisorRejecct/@ViewBag.Adjid" method="post" >
                <div class="col-md-3">
                    <div class="form-actions no-color">
                        <input type="submit" value="Reject" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <form class="form" role="form" action="/Adjustments/SupervisorPending/@ViewBag.Adjid" method="post">
            <div class="form-actions no-color">
                <input type="submit" value="Pending to Manager" class="btn btn-default" />
            </div>
        </form>
    }
}
@if (currentEmployee.Role.Name == "Store Manager"&&@ViewBag.status == "Pending Final Approval")
{
    <div class="row">
        <form class="form" role="form" action="/Adjustments/ManagerApprove/@ViewBag.Adjid" method="post" >
            <div class="col-md-offset-3 col-md-3">
                <div class="form-actions no-color">
                    <input type="submit" value="Approve" class="btn btn-default" />
                </div>
            </div>
        </form>
        <form class="form" role="form" action="/Adjustments/ManagerRejecct/@ViewBag.Adjid" method="post">
            <div class="col-md-3">
                <div class="form-actions no-color">
                    <input type="submit" value="Reject" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
}




@Html.ActionLink("Back to List", "ViewAdjustment")
