@model IEnumerable<Team7ADProjectMVC.DisbursementList>

@{
    ViewBag.Title = "Index";
    Layout = "~/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionPoint.PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retrieval.RetrievalId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionPoint.PlaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retrieval.RetrievalId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DisbursementListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DisbursementListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DisbursementListId })
        </td>
    </tr>
}

</table>
