@model IEnumerable<Team7ADProjectMVC.Requisition>


@{
    Page.Title = "View All requisitions";
    Layout = "~/Views/Shared/_LayoutD.cshtml";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <div class="well">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">

                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                                    </button> <a class="navbar-brand" href="#">Search By</a>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Another action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Something else here</a>
                                                </li>
                                                <li class="divider">
                                                </li>
                                                <li>
                                                    <a href="#">Separated link</a>
                                                </li>
                                                <li class="divider">
                                                </li>
                                                <li>
                                                    <a href="#">One more separated link</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @*@using (Html.BeginForm())
                                        {
                                            <p>
                                                Find by name: @Html.TextBox("SearchString")
                                                <input class="btn btn-default" type="submit" value="Search" />
                                            </p>
                                        }*@
                                    <form class="navbar-form navbar-left" role="form" action="/Department/Index" method="post">
                                        <div class="form-group">
                                            <input id="SearchString" type="text" class="form-control" name="SearchString" " />
                                        </div>
                                        <button type="submit" class="btn btn-default">
                                            Submit
                                        </button>
                                    </form>
                                    @*<ul class="nav navbar-nav navbar-right">

                                            class="form-control" id="StudentName" name="StudentName"
                                            <li>
                                                <a href="#">Link</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#">Action</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Another action</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Something else here</a>
                                                    </li>
                                                    <li class="divider">
                                                    </li>
                                                    <li>
                                                        <a href="#">Separated link</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>*@
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-content " class="well">
                @*//////dropd*@
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Page Size <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="1" href="#">1</a></li>
                        <li><a id="2" href="#">2</a></li>
                        <li><a id="3" href="#">3</a></li>
                        <li><a id="4" href="#">4</a></li>
                        <li><a id="5" href="#">5</a></li>
                        <li><a id="6" href="#">6</a></li>
                        <li><a id="7" href="#">7</a></li>
                        <li><a id="8" href="#">8</a></li>
                        <li><a id="9" href="#">9</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                @*<span class="page-number clickable">1</span>
                    <span class="page-number clickable">2</span>
                    <span class="page-number clickable">3</span>
                    <span class="page-number clickable">4</span>*@
                <table class="table paginated">
                    <thead>
                        <tr>
                            @*new{id = item.MovieID}*@
                            @*<th>
                                    <a href="@Url.Action("Dispatch", "Calls", new { userName = Session["UserName"], new { sortOrder ="Name" })">Department</a>
                                </th>*@
                            <th>
                                @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>

                            <th>
                                @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.emeSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("ApproveDate", "Index", new { sortOrder = ViewBag.DateSortParm })
                            </th>

                            <th>
                                @Html.ActionLink("Requisiton Status", "Index", new { sortOrder = ViewBag.remeSortParm })
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm">@Html.DisplayNameFor(model => model.Employee.Department.DepartmentName)</a>
                            </th>

                        </tr>


                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                            {
                                <tr class="clickable-row" data-href="ViewRequisitionDetails/@item.RequisitionId">

                                    <td>
                                        @item.Employee.Department.DepartmentName
                                    </td>
                                    <td>
                                        @item.Employee.EmployeeName
                                    </td>
                                    <td>
                                        @item.ApprovedDate
                                    </td>
                                    <td>
                                        @item.RequisitionStatus
                                    </td>
                                    <td>

                                        @Html.ActionLink("Detail", "ViewRequisitionDetails", new { id = @item.RequisitionId })

                                    </td>
                                </tr>
                            }*@

                        @foreach (var item in @ViewBag.Cat)
                        {
                            <tr class="clickable-row" data-href="ViewRequisitionDetails/@item.RequisitionId">

                                <td>
                                    @item.Employee.Department.DepartmentName
                                </td>
                                <td>
                                    @item.Employee.EmployeeName
                                </td>
                                <td>
                                    @item.ApprovedDate
                                </td>
                                <td>
                                    @item.RequisitionStatus
                                </td>
                                <td>

                                    @Html.ActionLink("Detail", "ViewRequisitionDetails", new { id = @item.RequisitionId })

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

                @*<ul id="pagination-demo" class="pagination-sm pagination pager">
                        <li class="page-item first">
                            <a class="page-link" href="#">First</a>
                        </li>
                        <li class="page-item prev">
                            <a href="#" class="page-link">Prev</a>
                        </li>
                        <li class="page-item ">
                            <a href="#" class="page-link page-number">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link page-number">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link page-number">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link page-number">4</a>
                        </li>

                        <li class="page-item next">
                            <a href="#" class="page-link">Next</a>
                        </li>
                        <li class="page-item last">
                            <a class="page-link" href="#">Last</a>
                        </li>
                    </ul>*@
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    NEWS
                </div>
                <div class="panel-body">
                    <p>Mun Kew received his PhD from Stanford University. He has more than 25 years of R&D and commercial experience in IT. He was Chair and Editor of the ISO/JTC1/WG2/24800 JPSearch international standard, editor or past editor of the Journal of Information Retrieval, Information Processing and Management Journal, member of the advisory board for the School of IIT at Temasek Polytechnic, the IRAL and AIRS symposium series, and formerly Adjunct Assoc. Prof at the National Institute of Education.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    //var n = localStorage['npg'];
    //if (!yetVisited) {
    //    // open popup
    //    localStorage['npg'] = 4;
    //}



    var numPerPage = 4;





    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });


    //////////////////////////////////////////






    //$('td', 'table').each(function (i) {
    //    $(this).text(i + 1);
    //});

    ///////////////////////////////////////////////////////////////////
    //start
    //$('table.paginated').each(function () {
    //    var currentPage = 0;
    //    var numPerPage = 5;
    //    var $table = $(this);
    //    $table.bind('repaginate', function () {
    //        $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
    //    });

    //    $table.trigger('repaginate');


    //    var numRows = $table.find('tbody tr').length;
    //    var numPages = Math.ceil(numRows / numPerPage);
    //    var $pager = $('<div class="pager"></div>');
    //    for (var page = 0; page < numPages; page++) {
    //        $('<span style="float:left;" class="page-number"></span>').text(page + 1).bind('click', {
    //            newPage: page
    //        }, function (event) {
    //            currentPage = event.data['newPage'];
    //            $table.trigger('repaginate');
    //            $(this).addClass('active').siblings().removeClass('active');
    //        }).appendTo($pager).addClass('clickable');


    //    }
    //    $pager.insertBefore($table).find('span.page-number:first').addClass('active');
    //});
    //end
    //////////////////////////////////////
   //copytest
    $('table.paginated').each(function () {
        var currentPage = 0;
        //var numPages = Math.ceil(numRows / numPerPage);
        var numPages = Math.ceil(numRows / numPerPage);

            $(document).ready(function () {
                $("a").click(function () {
                    alert($(this).text());

                    localStorage['npg'] = parseInt($(this).text());

                    //$table.trigger('repaginate');



                    numPerPage = parseInt($(this).text());
                    numPages = Math.ceil(numRows / numPerPage);


                    //location.reload();
                });
            });
            //if(numPerPage==4||numPerPage==null){

            numPerPage = 4;
            //   }else{
            //numPerPage = numPerPage;
            // }
            //numPerPage = localStorage['npg'];



            var $table = $(this);
            $table.bind('repaginate', function () {
                $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
            });

            $table.trigger('repaginate');


            var numRows = $table.find('tbody tr').length;


            numPages = Math.ceil(numRows / numPerPage);
            //var $pager = $('<div class="pager"></div>');
            var $pager = $('<ul id="pagination" class="pagination-sm pagination pager"></ul>');
            //<ul id="pagination-demo" class="pagination-sm pagination pager">

            for (var page = 0; page < numPages; page++) {
                //$('<span style="float:left;" class="page-number"></span>').text(page + 1).bind('click', {
                //<a class='page-link page-number clickable'></a>
                //<a href="#" class="page-link page-number"></a>

                $('<li style="border-style:solid; margin:20px"></li>').text(page + 1).bind('click', {
                    newPage: page
                }, function (event) {
                    currentPage = event.data['newPage'];
                    $table.trigger('repaginate');
                    $(this).addClass('active').siblings().removeClass('active');
                    }).appendTo($pager).addClass('clickable');



            }
            //$pager.insertBefore($table).find('span.page-number:first').addClass('active');
            $pager.insertBefore($table).find('li a.page-number:first').addClass('active');
        });

    ////////////////////////////////////////////




    //$('#pagination-demo').twbsPagination({
    //    totalPages: 35,
    //    visiblePages: 4,
    //    onPageClick: function (event, page) {
    //        $('#page-content').text('Page ' + page);
    //    }
    //});
</script>