@model Team7ADProjectMVC.Requisition
@{
    Page.Title = "View Requisition Details";
    Layout = "~/_Layout1.cshtml";
    Employee currentEmployee = (Employee)Session["User"];
    Page.Employee = currentEmployee;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>
                    Department:  @Html.DisplayFor(model => model.Employee.Department.DepartmentName)

                </h3>
                <h3>
                    Employee:  @Html.DisplayFor(model => model.Employee.EmployeeName)

                </h3>
                <h3>
                    Requisition Date:  @*@Html.DisplayFor(model => model.OrderedDate)*@

                    @Convert.ToDateTime(Model.OrderedDate).ToString("dd/MM/yyyy")
                </h3>
            </div>
            
            <h3>
                Item List:
            </h3>
            <div class="col-md-8">
                <table class="table">
                    <thead>

                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Outstanding Quantity
                            </th>
                           
                        </tr>


                    </thead>
                    <tbody>

                        @foreach (var item in @ViewBag.rel)
                        {
                            <tr>
                                <td>
                                    @item.Inventory.Description
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.OutstandingQuantity
                                </td>
                                

                            </tr>
                        }

                    </tbody>


                </table>


                @*</div>*@



                @*<h3>
                    Descriptions:
                </h3>

                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>*@
                <button type="button" class="btn btn-default" id="addNew">
                    @*Add items to requistion list>>>*@
                    @Html.ActionLink("Back to List>>>", "/Index")
                </button>
                @*<div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
                </div>
            </div>
    </div>
</div>