@model Team7ADProjectMVC.Supplier

@{
    ViewBag.Title = "Edit";
    Layout = "~/_Layout1.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Supplier</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SupplierId)


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForSupplierCode">
                                Supplier Code
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForSupplierName">
                                Supplier Name
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForContactName">
                                Contact Name:
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForGSTReg">
                                GST Registration
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.GstRegistrationNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GstRegistrationNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-6">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForPhone">
                                Phone No.
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.PhNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForFax">
                                Fax No.
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FaxNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="inputForAddress">
                                Address
                            </label>
                        </div>
                        <div class="col-lg-6">
                            @*<textarea class="form-control" id="Address" name="Address" type="text" value=""></textarea>*@
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 3 })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div></div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
