@model IEnumerable<Team7ADProjectMVC.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Supplier Name (Supplier Code)
        </th>
        <th>
            Contact Person / Phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="clickable-row" data-href="Edit/@item.SupplierId">
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName) (@Html.DisplayFor(modelItem => item.SupplierCode))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName) / @Html.DisplayFor(modelItem => item.PhNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>
