@model Team7ADProjectMVC.Inventory

@{
    ViewBag.Title = "Delete";
    Layout = "~/_Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoldQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoldQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measurement.UnitOfMeasurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement.UnitOfMeasurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier1.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier1.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier2.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier2.SupplierCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
